@use "@/styles/base/variables" as *;
.page {
  min-height: 100vh;
  background: $background;
  color: $text;
}

.rent{
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .itemList{
        
    }
}

